<footer class="site-footer">


  <nav class="footer-nav">

        {% assign sorted_pages = (site.pages | sort: 'order') %}
        {% for my_page in sorted_pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">
            {{ my_page.title }}
          </a>
          {% if my_page.title != "Kontakt" %}
            |
          {% endif %}

          {% endif %}
        {% endfor %}
  </nav>

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col">

        <div class="footer-item footer-contact">
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          / Tel: {{ site.phone }} / Fax: {{ site.fax }}
        </div>

        <div class="footer-item footer-impressum">
          <a href="{{ site.baseurl }}/impressum.html">
            Impressum
          </a>
        </div>

      </div>

    </div>

  </div>

</footer>
