<header class="site-header">

  <div class="wrapper">

    <div class="logo-header">

      <a href="{{ site.baseurl }}/">
        <img alt="Physio an der Bucht Logo" src="{{ site.baseurl }}/assets/images/logo_v02.jpg">
      </a>

    </div>
  </div>
  <div class="nav-header">

    <nav class="site-nav">

      {% assign sorted_pages = (site.pages | sort: 'order') %}
      {% for my_page in sorted_pages %}
      {% if my_page.title %}
      <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">
        {{ my_page.title }}
      </a>
      {% if my_page.title != "Kontakt" %}
      |
      {% endif %}

      {% endif %}
      {% endfor %}
    </nav>

  </div>

</header>