/**
 * Site header
 */
.site-header {
    padding-top: 25px;
    padding-bottom: 30px;
    //border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.logo-header {
    width: 300px;
    margin: auto;
    padding-bottom: 5px;

    @media screen and (min-width: 450px) {
        width: 400px;
    }

    @media screen and (min-width: 700px) {
        width: 450px;
    }
}

.site-nav {
    text-align: center;
    margin-top: 20px;
    line-height: 40px;
    background-color: $physio-color;
    color: white;
    font-weight: lighter;
    box-shadow: 0px 2px 2px #888888;


    .page-link {
        color: white;
        font-size: 1.2em;
        line-height: $base-line-height;
    }


    a {
        color: white;
        font-size: 300%;
        margin-right: 10px;
        margin-left: 10px;
    }

    a:visited {
        color: white;
    }
}



/**
 * Site footer
 */
.site-footer {

    a {
        color: $physio-color;
    }

    a:visited {
        color: $physio-color;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    text-align: center;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-item {
    color: $physio-color;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-nav {
    font-size: medium;
    background-color: $physio-color;
    color: white;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: lighter;

    .page-link {
        color: white;
    }

    a {
        color: white;
        margin-right: 10px;
        margin-left: 10px;
    }

    a:visited {
        color: white;
    }
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
//    padding: $spacing-unit 0;

}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 24px;
    line-height: 1;
    padding-left: 30px;
    //padding-top: 15px;
    //padding-bottom: 15px;
    //color: white;
    //background-color: #97254E;
    font-weight: lighter;


    @include media-query($on-laptop) {
        font-size: 24px;
    }
}

.post-content {

     background-image: url("../assets/images/logoMan_v02.jpg");
     background-position: center top;
     background-repeat: no-repeat;

    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.news {
    border-bottom: solid;
    border-width: 1px;
    border-color: $divider-color;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.praxis-entry {
    border-bottom: solid;
    border-width: 1px;
    border-color: $divider-color;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.course {
    border-bottom: solid;
    border-color: $divider-color;
    border-width: 1px;
    margin-bottom: 20px;
}

.course-overview {
    border-bottom: solid;
    border-color: $divider-color;
    border-width: 1px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.price-empty-row {
    height: 20px;
}

.prices-table {

    table-layout:fixed;
    width: 100%;

    .price-header {
        font-weight: bold;
        word-wrap: break-word;
    }
    .price-duration {
        white-space: nowrap;
    }
    .price-th {
        text-align: right;
    }
    .price-td {
        white-space: nowrap;
        text-align: right;
    }
}

.center {
    width: 250px;
    margin: auto;
}
