---
layout: default
---
<article class="post">

  <div class="wrapper">

    <div class="post-content">

      <div class="news">
        Wir suchen Verstärkung für unser Team.
        <a href="../jobs.html"> Hier erfahren Sie mehr </a>
      </div>

      <div class="news">

        <h3>Achtsame Körperarbeit</h3>

        <h4>Für alle die etwas verändern wollen und nicht wissen wo sie anfangen sollen!</h4>

        <p>
          …ist diese aufmerksame, sanfte Berührung mit den Händen nach osteopathischem Prinzip. Hier werden Sie mit Seele, Geist und
          Körper wahrgenommen und angenommen. Im Zuge dessen erfahren Sie eine tiefe anhaltende Entspannung und kommen wieder
          in sich an. Sie fühlen sich klarer, Entscheidungen fallen leichter, der Alltagsstress nimmt Sie nicht mehr so gefangen.
        </p>

        <p>
          „…es ist eine Einladung zum vollen Existieren – zum Sein! Ganz so als würde die nähere Berührung ein neues Bewusstsein bedeuten.“
          (aus dem Lehrbuch Osteopathie)
        </p>

        <p>
          Wo: Physio an der Bucht
          <br/> Wann: Jeden 2. Samstag zwischen 9.00 bis 13.00 Uhr
          <br/> Wieviel: 50 - 60 min à 60 Euro
          <br/> Fragen und Termine: unter 0172-80 30 184 und vor Ort in Ihrer Physio an der Bucht
          <br/>
        </p>

      </div>

      <div class="news">
        Neue Kurse:
        <a href="../kurse#yoga-für-alle">Yoga für alle</a> montags zusätzlich 20 Uhr
      </div>

      <h3> Willkommen in der Physio an der Bucht </h3>

      <div class="carousel">
        <div id="owl-example" class="owl-carousel">
          <div class="carousel-item">
            <img src="/assets/images/praxis05.jpg">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/praxis01.jpg">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/praxis02.jpg">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/praxis03.jpg">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/praxis04.jpg">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/praxis06.jpg">
          </div>
        </div>
      </div>

      {{ content }}

    </div>

  </div>

</article>
