---
layout: default
---
<article class="post">

  <div class="wrapper">

    <div class="post-content">

      <div class="news">
        Wir suchen Verstärkung für unser Team. <a href="../jobs.html"> Hier erfahren Sie mehr </a>
      </div>

      <div class="news">
        <h3>Gerade gerückt</h3>

        <h4>Neue Rückenschule vom 22.02. bis 12.04.2017</h4>

        <p>
          8 x mittwochs 19 - 20 Uhr<br/>
          Teilnehmerzahl: 6-8<br/>
          Gesamtpreis: 120 EUR
        <p>

        <ul>
          <li>Durchführung und Zertifikat nach den neuen Richtlinien der KddR - Konföderation der deutschen Rückenschulen im Sinne des Präventionsgesetzes nach § 20 SGB 5</li>
          <li>Klassische Rückenschule zum Erlernen des schonenden Umgangs mit dem</li>
          <li>Rücken im Alltag</li>
          <li>Verhaltenstraining für eine veränderte Einstellung zum Schmerz</li>
          <li>Entspannungstechniken zum Abbau von psychischem Stress</li>
          <li>Zertifikat nach 8 Einheiten zur Vorlage bei Ihrer Krankenkasse</li>
          <li>Regelmäßige Teilnahme wird von den Krankenkassen bis zu 80% erstattet</li>
        </ul>

        <p>
          Wir freuen uns auf Sie! 
        </p>
      </div>

      <div class="news">
        Neue Kurse: <a href="../kurse.html#neu-kundalini-yoga-für-einsteiger">Kundalini-Yoga für Einsteiger</a>
      </div>

      <h3> Willkommen in der Physio an der Bucht </h3>

      <div class="carousel">
        <div id="owl-example" class="owl-carousel">
          <div class="carousel-item"><img src="/assets/images/praxis05.jpg"></div>
          <div class="carousel-item"><img src="/assets/images/praxis01.jpg"></div>
          <div class="carousel-item"><img src="/assets/images/praxis02.jpg"></div>
          <div class="carousel-item"><img src="/assets/images/praxis03.jpg"></div>
          <div class="carousel-item"><img src="/assets/images/praxis04.jpg"></div>
          <div class="carousel-item"><img src="/assets/images/praxis06.jpg"></div>
        </div>
      </div>

      {{ content }}

    </div>

  </div>

</article>
