---
layout: default
---
<article class="post">

  <div class="wrapper">
    <div class="post-content">

  <div class="news">

    Neu bei Kurse: <a href="../kurse/#neu-kundalini-yoga-für-einsteiger">Kundalini-Yoga für Einsteiger</a>

  </div>

  <h4> Willkommen bei Physio an der Bucht </h4>

    <div class="carousel">
      <div id="owl-example" class="owl-carousel">
        <div class="carousel-item"><img src="/assets/images/praxis05.jpg"></div>
        <div class="carousel-item"><img src="/assets/images/praxis01.jpg"></div>
        <div class="carousel-item"><img src="/assets/images/praxis02.jpg"></div>
        <div class="carousel-item"><img src="/assets/images/praxis03.jpg"></div>
        <div class="carousel-item"><img src="/assets/images/praxis04.jpg"></div>
        <div class="carousel-item"><img src="/assets/images/praxis06.jpg"></div>
      </div>
      </div>

      {{ content }}

    </div>
  </div>

</article>
